*.gx
*.tmp

/*
!adjustable-wireless-charger-holder
!headset-holder
!kran-adapter
!musicangel-holder
!sphere-in-cube
!hanging-phone-holder
!popsocket-holder
!test
!hook-behind-couch
!hook-for-kitchen-pincer
