*.gx
*.gltf
*.glb
*.obj
*.mtl
*.fpp
*.tmp
*.blend[0-9]*

/*
!.github
!flashforge-viewer
!mesh-viewer
!index.html
!secret
!sdf
!makesdf.py
!.gitmodules
!setup.cfg
!LICENSE

!ac-tube-nozzle-angle
!adjustable-wireless-charger-holder
!aqara-roller-shades-adapter
!automatic-window-opener
!cable-clip
!cat-keyboard-protection
!cat-litter-box-odor-remover
!cat-feeder-extension
!hanging-phone-holder
!headset-holder
!hook-behind-couch
!hook-for-kitchen-pincer
!ikea-elvarli-curtain-rod-holder
!ikea-fake-front-attachment
!kran-adapter
!light-strip-attachment
!magnetic-night-stand
!musicangel-holder
!no-to-ads-on-mailbox
!oven-fan-tube-attachment
!popsocket-holder
!powder-organizer
!resistor-holder
!soap-molds
!sphere-in-cube
!sunglass-holder
!test
