*.gx
*.tmp

/*
!secret
!adjustable-wireless-charger-holder
!cable-clip
!hanging-phone-holder
!headset-holder
!hook-behind-couch
!hook-for-kitchen-pincer
!ikea-elvarli-curtain-rod-holder
!kran-adapter
!musicangel-holder
!oven-fan-tube-attachment
!popsocket-holder
!resistor-holder
!sphere-in-cube
!test
