.App {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.title {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1;
  text-shadow: 0 0 8px #000;
}

.preview {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

img, video {
  image-rendering: pixelated;
}
